*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

p{
    cursor: pointer;
    font-weight: 800;
    font-size: 22px;
}